@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <iframe name="bot" id="bot" height="600"
          src='https://webchat.botframework.com/embed/ApplePayQnA?s=在此輸入金鑰密碼'></iframe>
    </div>
</body>
</html>
